body {
    font-family: 'Mingzat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.orange {
    color: orange;
}

h1 {
    font-size: 50px;
}

.flx {
    display: flex;
    margin-bottom: 150px;

}

.helf-width {
    width: 50%;
    padding: 5%;
}

.helf-width img {
    width: 100%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.link {
    background-color: chocolate;
    color: aliceblue;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 40px;
}

.nap {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.new-cat {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 10px gray;
}

#full {
    border-left: 7px solid green;
}

#baby {
    border-left: 7px solid red;
}

footer {
    text-align: center;
    color: aliceblue;
    background-color: black;
}